
  @font-face{
    font-family: orkney-thin;
    src: url(font/Orkney-Light.otf);
}

@font-face{
    font-family: orkney-bold;
    src: url(font/Orkney-Bold.otf);
}

@font-face{
    font-family: orkney-med;
    src: url(font/Orkney-Medium.otf);
}

@font-face{
    font-family: orkney-reg;
    src: url(font/Orkney-Regular.otf);
}


@font-face{
    font-family:Mont-reg;
    src: url(font/Mont-Regular.otf);
  }
  
  @font-face{
    font-family:Mont-book;
    src: url(font/Mont-Book.otf);
  }
  
  @font-face{
    font-family:sanspro-reg;
    src: url(font/sourcesanspro-regular.ttf)
  }
  
  @font-face{
      font-family:Mont-extraLight;
      src: url(font/Mont-ExtraLight.otf);
    }
  


    
  
  /*---------------------------------------------------banner-----------------------------------------------------------------*/
  
  .banner{
    height: 30vh;
    background-color: #076bff;
    color: white;
    font-family: orkney-med;
    font-size:45px;
    text-align: center;
  }

  .banner p{
    display: inline;
  }
  .banner img{
    height: 110%;
  }

  @media  (max-width:900px){
    .banner p{
      padding-top: 5%;
      font-size: 35px;
      display: block;
    }
    .banner img{
      height: 50%;
    }
  }

 /*---------------------------------------------------sliding text -----------------------------------------------------------------*/
  

 .notice-library{
   height: 5vh;
   background-color:rgb(13, 157, 0) ;
 }

 .notice-library p{
   white-space: nowrap;
   font-family: orkney-thin;
   color: white;
   font-weight: lighter;
   padding-top: 8px;
   animation: slideleft 70s infinite;
 }

 @keyframes slideleft{
   0%{
     transform: translateX(100%);
   }
   100%{
     transform: translateX(-100%);
   }
 }


 /*---------------------------------------------------conatact info box-----------------------------------------------------------------*/
  

.contact-box{
  position: relative;
  background-color:#cb0fa2;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contact-info{
  font-family: orkney-thin;
  padding-bottom: 10px;
  display:inline;
  font-size: 15px;
}

.contact-info img{
  height: 40px;
  filter: invert(1);

}
.contact-info a{
  color: white;
  text-decoration: none;
  text-align: left;
  transition: .2s;
}
.contact-info a:hover{
  transform: scale(1.1);
  color: rgb(0, 0, 0);
}

.contact-info p{
  color: white;
  padding-top: 35px;
  text-align: left;
  font-family: orkney-bold;
  font-size: 30px;
}

iframe{
  width: 100%;
  height: 50vh;
}

