
  @font-face{
    font-family: orkney-thin;
    src: url(font/Orkney-Light.otf);
}

@font-face{
    font-family: orkney-bold;
    src: url(font/Orkney-Bold.otf);
}

@font-face{
    font-family: orkney-med;
    src: url(font/Orkney-Medium.otf);
}

@font-face{
    font-family: orkney-reg;
    src: url(font/Orkney-Regular.otf);
}


@font-face{
    font-family:Mont-reg;
    src: url(font/Mont-Regular.otf);
  }
  
  @font-face{
    font-family:Mont-book;
    src: url(font/Mont-Book.otf);
  }
  
  @font-face{
    font-family:sanspro-reg;
    src: url(font/sourcesanspro-regular.ttf)
  }
  
  @font-face{
      font-family:Mont-extraLight;
      src: url(font/Mont-ExtraLight.otf);
    }
  


    
  
  /*---------------------------------------------------banner-----------------------------------------------------------------*/
  

  .banner{
    height: 30vh;
    background-color: #076bff;
    color: white;
    font-family: orkney-med;
    font-size:35px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
  }

  .banner p{
    display: inline;
  }
  .banner img{
   height:110%;
  }

  @media  (max-width:900px){
    .banner{
      height: 25vh;
      padding-top: 5%;
      padding-bottom: 4%;
    }
    .banner p{
      font-size: 25px;
      display: block;
    }
    .banner img{
      height: 70%;
    }
  }

 /*---------------------------------------------------sliding text -----------------------------------------------------------------*/
  

 .notice-library{
   height: 5vh;
   background-color:rgb(13, 157, 0) ;
 }

 .notice-library p{
   white-space: nowrap;
   font-family: orkney-thin;
   color: white;
   font-weight: lighter;
   padding-top: 8px;
   animation: slideleft 70s infinite;
 }

 @keyframes slideleft{
   0%{
     transform: translateX(100%);
   }
   100%{
     transform: translateX(-70%);
   }
 }
 @media screen and (max-width:500px){
  .notice-library p{
    font-size: 12px;
    font-weight: bolder;
    animation: slideleft 50s infinite;
  }
}

 /*---------------------------------------------------student form text upside-----------------------------------------------------------------*/
  
 .library-form{
  height: 10vh;
  padding-top: 6%;
  margin-bottom: 6%;
 }

 .library-form h3{
   text-align: center;
   font-family: orkney-med;
 }

.library-form p{
  text-align: center;
  font-family: orkney-thin;
}


 /*---------------------------------------------------login form -----------------------------------------------------------------*/
  
/*---------------------------------contact-box-9----------------------------------------------*/
.contact-box-9{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:2.75% ;
}

.info-box-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.info-box-1 div{
  font-family: orkney-thin;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5%;
}


.contact-box-9 #submit{
  height: 40px;
  width: 120%;
  border: none;
  margin-top: 15px;
  background-color:#02b9d2 ;
  color: white;
}

.contact-box-9 #submit:hover{
  background-color: #03cde8;
}

@media screen and (max-width:800px){
  .contact-box-9{
    margin-right: 5%;
  }
}

@media screen and (max-width:500px){
  .contact-box-9{
    margin-right: 10%;
  }
}
