
  @font-face{
    font-family: orkney-thin;
    src: url(font/Orkney-Light.otf);
}

@font-face{
    font-family: orkney-bold;
    src: url(font/Orkney-Bold.otf);
}

@font-face{
    font-family: orkney-med;
    src: url(font/Orkney-Medium.otf);
}

@font-face{
    font-family: orkney-reg;
    src: url(font/Orkney-Regular.otf);
}


@font-face{
    font-family:Mont-reg;
    src: url(font/Mont-Regular.otf);
  }
  
  @font-face{
    font-family:Mont-book;
    src: url(font/Mont-Book.otf);
  }
  
  @font-face{
    font-family:sanspro-reg;
    src: url(font/sourcesanspro-regular.ttf)
  }
  
  @font-face{
      font-family:Mont-extraLight;
      src: url(font/Mont-ExtraLight.otf);
    }
  


    
  
  /*---------------------------------------------------banner-----------------------------------------------------------------*/
  
  .banner{
    height: 30vh;
    background-color: #076bff;
    color: white;
    font-family: orkney-med;
    font-size:35px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
  }

  .banner p{
    display: inline;
  }
  .banner img{
   height:110%;
  }

  @media  (max-width:900px){
    .banner{
      height: 25vh;
      padding-top: 5%;
      padding-bottom: 4%;
    }
    .banner p{
      font-size: 25px;
      display: block;
    }
    .banner img{
      height: 70%;
    }
  }

 /*---------------------------------------------------sliding text -----------------------------------------------------------------*/
  

 .notice-library{
   height: 5vh;
   background-color:rgb(13, 157, 0) ;
 }

 .notice-library p{
   white-space: nowrap;
   font-family: orkney-thin;
   color: white;
   font-weight: lighter;
   padding-top: 8px;
   animation: slideleft 70s infinite;
 }

 @keyframes slideleft{
   0%{
     transform: translateX(100%);
   }
   100%{
     transform: translateX(-50%);
   }
 }

 /*---------------------------------------------------bootstrap navpills -----------------------------------------------------------------*/


  /*----------------------------------------------------------Goto Course------------------------------------------------------*/
  
  .flex-int{
    display: flex;
    color: white;
    border-radius: 10px ;
    flex-wrap: wrap;
    transition: transform .2s;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    justify-content: space-evenly;
}
.flex-int:hover{
     -ms-transform: scale(.99); /* IE 9 */
     -webkit-transform: scale(.99); /* Safari 3-8 */
    transform: scale(.99); 
    background-color: #d811ad;
}

.contact-img img{
  height: 100px;
}
.call p{
  font-family: orkney-thin;
 padding-top: 4%;
}

/*----------------------------------------------------Media----------------------------------------------------*/

@media screen and (max-width:450px){
  .call{
    display: none;
  }
}





@media screen and (max-width:900px){
.flex-item-1 img{
  height: 250px;
}
.flex-item-1 p{
  font-size: 13px;
}
.flex-item-1 span{
  font-size: 24px;
}
}

